
body {
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
    
}

/* العنوان الكبير النص اللي فوق  */
.main-title {
    font-size: 50px;
    font-weight: 600;
    font-family:var( --font-heading);    /* ده نوع الخط اللي بيستخدم في العناوين الكبيرة */ 
    line-height: 1.2;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 60px;

}
/* النص اللي تحت في العنوان  */
.main-title .gold-text {
    color: var(--main-color);
    font-style: italic; 
}
/* ده الكلام اللى تحت العناوان الكبير */
.description-text {
    font-family: var( --font-body);
    font-size: 17px;
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: .5px;
    text-align: left;
    margin-top: 20px;
    max-width: 700px;
    margin-left: 60px;
}
.events {
    padding: 50px 20px;
    background-color: var(--bg-card);
}
/* ده لي div الكبير اللى شايل الكروت */
.events .container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* ده لي كل كارت */
.event-card {
  width: 300px;
  border-radius: 20px;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);
  height: 480px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

/* ده علشان الزرار اللى في الكرت اللى بيفتح صفحه event */
.event-card .main-btn {
  text-decoration: none;
}

/* ده لي الصوره و التفصيل اللى عليها */
.event-image {
  position: relative;
  height: 200px;
}


/* ده لي الصوره اللى في الكارت */
.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*  دول بيظبطوا الكلام اللى على الصوره*/
.event-card .badge,
.event-card .date {
  position: absolute;
  top: 12px;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 12px;
}

/* ده علشان البادج */
.event-card .badge {
  left: 12px;
  background: var(--main-color);
  color: var(--text-color);
}
 
/* ده علشان التاريخ */
.event-card .date {
  right: 12px;
  background: rgba(0,0,0,0.6);
  color: #F5EDD5;
}

/* الكلام اللى تحت الصوره */
.event-card .card-content {
  padding: 16px;
}
 /* مكان الحدث */
.event-card .location {
  font-size: 12px;
  color: #c8a96e;
  margin-bottom: 8px;
}

/* العنوان بتاع الحدث */
.event-card .title {
  font-size: 18px;
  font-family: var(--font-heading);
  margin-bottom: 10px;
}

.event-card .desc {
  font-size: 13px;
  color: var(--text-color);
  line-height: 1.5;
  overflow: scroll;
  margin-bottom: 15px;
  max-width: 270px;
  max-height: 113px;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-corner{
  background-color: var(--background-color);
}

.explore-container .main-btn {
  margin-top: 50px;



}

.filter-bar {

  background:var(--background-color);
  padding:20px;
  border-radius:25px;
  display:flex;
  gap:20px; 
  align-items:center;
  margin-bottom:30px; 
  color:var(--main-color);
}

#typeFilter ,#monthFilter{
  background:var(--background-color);
  color:var(--text-color); 
  border:1px solid #333; 
  padding:5px 10px;
}
.explore-container {
    display: flex;         
    justify-content: center; 

}



@media (max-width: 768px) {
    
    .nav-links {
        display: none; 
    }

  
    .main-title {
        font-size: 2rem;
        padding: 0 15px;
    }

    .description-text {
        font-size: 1rem;
        padding: 0 20px;
    }

    
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .filter-bar select {
        width: 100%;
        max-width: 300px;
    }

   

    .event-card {
        margin: 0 auto 20px;
        max-width: 100%;
    }

    /* تعديل الفوتر */
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-col {
        width: 100%;
    }
}

