
body {
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ضروري جداً عشان يمنع شريط التمرير العرضي */
}



/* العنوان الكبير النص اللي فوق  */
.main-title {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Noto Serif', serif;    /* ده نوع الخط اللي بيستخدم في العناوين الكبيرة */ 
    line-height: 1.2;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 60px;

}
/* النص اللي تحت في العنوان  */
.main-title .gold-text {
    color: var(--main-color);
    font-style: italic; 
}
/* شرح  الصفحه */
.description-text {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.8;
    letter-spacing: .5px;
    text-align: left;
    margin-top: 20px;
    max-width: 700px;
    margin-left: 60px;
}

.the-grand-museum ,.the-coptic-museum{
    gap: 40px;
    margin-right: 20px;
    border-top: 5px solid var(--main-color);
    width: 95%;
    min-height: 500px;
    background-color: var(--bg-card);
    padding: 30px;
    margin: 20px auto;
    display: block;
    justify-content: flex-start;
    background-size: cover;
    border-radius: 24px;
    background-position: center;
}

.the-grand-museum {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Images/The-Grand-Egyptian-Museum.jpg');
}

.the-coptic-museum{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Images/GD-EG-Caire-MuséeIslam001.jpg');
}
/* الكلام اللي في الصوره */
.the-grand-museum p ,.the-coptic-museum p{
    font-family: var(--font-body);
    font-size: 16px;
    width: 40%;
    color: var(--secondary-color);
    line-height: 1.6;
    letter-spacing: .5px;
}


/* --- ده علشان تنعمل لينك --- */
.read{
    text-align: left;
}

/* --- زرار الـ Read More --- */
.read button{
    padding: 10px;
    border: none;
    background-color: var(--main-color);
}    

.read a {
     text-decoration: none;
     color: black;
     font-size: 15px;
} 

/* البتاعه الزرقا */
.category-badge {
    background-color: #8EB8E0;
    color: var(--text-color);
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-top: 70px;
}
/* باين انه عنوان صح ؟ */
.the-grand-museum h1,.the-coptic-museum h1 {
    font-family: var(--font-heading);
    font-size: 60px;
    width: 60%;
    color: var(--main-color);
    margin-bottom: 15px;
}
/* ده بقا سشكن الكاردز */
h3 {
    font-family: var(--font-heading);
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 10px;
    margin-left: 30px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
/* خط عادي ملهوش لازمه */
hr {
    width: 95%;
}
/* ده بقا الكارت */
.museum-card { 
    width: 380px;
    background-color: var(--bg-card);
    border-radius: 30px;
    overflow: hidden;
    margin-left: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    height: 500px;
    margin: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-top: #c48b04 solid 5px;
         
}
.museum-card:hover {
   transform: translateY(-5px);/*اللي بيعمل هوفر للكارت بيخليها تطلع فوق*/
}

.location {
    color: #4a5fb4;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 40px;
}

.card-content-box{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: var(--bg-card);
    padding: 20px;
}

.museum-title {
   color: var(--text-color);
   font-size: 26px;
    margin: 0%;
    font-weight: 'serif';
    padding-top: 20px;
   }
.museum-desc {
    color:var(--text-color); 
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
    display: inline-block;
    align-items: left;
    gap: 8px;
    transition: color .2s ease;
    padding: 30px 60px 30px 0;
}

.card-top-half,
.card-top-half1,
.card-top-half2 {
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-top-half  { background-image: url('../Images/The-Egyptian-Museum.jpg'); }
.card-top-half1 { background-image: url('../Images/Luxor-Museum.png'); }
.card-top-half2 { background-image: url('../Images/Fustat-Musseum.jpg'); }

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* عشان لو الشاشة صغرت، الكروت تنزل تحت بعض بدل ما تخرجش بره*/
}


@media (max-width: 768px) {
    
    .main-title {
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .description-text {
        font-size: 15px;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .the-grand-museum ,.the-coptic-museum {
        padding: 20px;
         gap: 20px;
         min-height: 350px;
    }

    .the-grand-museum h1,.the-coptic-museum h1 {
        font-size: 32px;
        width: 100%;
    }

    .the-grand-museum p ,.the-coptic-museum p{
        width: 100%;
        font-size: 15px;
    }

    .category-badge{
        margin-top: 30px;
    }

   .cards-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .museum-card {
        width: 90%;
        margin-bottom: 40px;
        max-width: 400px;
    }

    h3 {
        font-size: 20px;
        margin-left: 20px;
        letter-spacing: 1.5px;
    }

    hr{
        width: 90%;
    }

   }
