/* --- تصفير المسافات --- */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--background-color); 
    font-family: var( --font-body);
    overflow-x: hidden;
}

/* -- ده السكشن اللى فيه الجزء بتاع head  --- */
.hero {
    font-family: var(--font-heading);
    height: 80vh;
    padding: 12% 8%;
    margin-bottom: 50px;
    background-image: url("../images/pyramids-page-bg.jpg"); /*دي الصوره اللى في الخلفيه*/ 
    background-repeat: no-repeat ;
    background-size: cover;
}

/* --- دي الكلمه الصغيره اللى فوق --- */
.badge {
    color: var(--main-color);
    background: #b8870b2f;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

/* --- The Great Pyramids --- */
h1 {
    font-size: 70px;
    color: var(--main-color);
    margin: 15px 0;
}

/* --- دي الكلام اللى قبل cards يتاعت كل هرم --- */
.p {
    font-size: 30px;
    color:var(--secondary-color) ;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* --- ده ال section اللى في كل الكروت --- */
.pyramids-flex  {
    display:flex;
    gap: 25px;
    padding: 60px 8%;
}

/* --- ده لي كل كارت لوحده --- */
.card {
    background: var( --bg-card);
    border: 1px solid var(--bg-card);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.575);
    width: 300px;
}

/* --- ده لي الصوره اللى في الكرت --- */
.card-img img  {
    width: 100%;
    height: 250px;
}

/* --- دي جواها المحتوه اللى تحت الصوره كله--- */
.card-content { 
    padding: 20px;
 }

 /* --- دي لي اسم الملك صاحب الهرم--- */
.card h3 { 
     font-family: var(--font-heading);
     color: #b8860b;
     margin-bottom: 10px; 
    }

    /* --- دي لي معلومات عن الهرم --- */
.card p {
     font-size: 16px;
      margin-bottom: 20px; 
    }

/* -- ده div جواه معلومات رقميه عن الهرم--- */
.card-stats {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #898989;
    padding-top: 15px;
}

.card-stats div { 
    color: #b8860b;
     font-weight: bold;
      font-size: 15px; 
    }

.card-stats span { 
    font-size: 12px;
     color: #999;
     }
/* --- ده علشان تنعمل لينك --- */
.read{
    text-align: center;
}

/* --- زرار الـ Read More --- */
.read button{
    padding: 10px;
    border: none;
    background-color: var(--main-color);
}    

.read a {
     text-decoration: none;
     color: black;
     font-size: 15px;
} 

/* --- دوت علشان الجدول--- */
.info-table {
   width: 90%;
   margin: 30px auto 60px; /* ظبطت المارجن عشان السنترة */
   background-color: var(--bg-card);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.575);
   border-collapse: collapse; /* ده عشان ظبط الحواف */
}

/*  ده علشان سنتره الكلمه صح في hd */
.info-table th, .info-table td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}

/* ده علشان يعمل تاثير لما الموس يجي على السطر */
.info-table tbody tr:hover {
    background-color: #e3af2a;
    transition: 0.3s;
}

/* --- دوت علشان الخريطه--- */
.maps {
    margin-top: 30px;
    width: 100%;
    margin-bottom:200px ;
}

/* --- الميديا --- */
  @media (max-width: 768px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    h1{
        font-size: 40px;
    }

   .pyramids-flex {
    flex-wrap: wrap;
    justify-content: center;
    }
   .p {
    font-size: 20px;
    
   }
 
  
}  
